#logo {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    outline: 0;
}

#image {
    color: #83b4ed !important;
    width: var(--font-size-logo-image);
}

#text {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

#header {
    color: var(--color-c) !important;
    font-family: var(--font-family-logo);
    font-size: var(--font-size-logo-text) !important;
    font-weight: var(--font-weight-logo);
    margin-top: -0.5rem;
}

#sub-header {
    color: var(--color-c) !important;
    font-family: var(--font-family-handbook);
    font-size: 1rem;
    margin-top: -1.1rem;
    transform: scale(1.5, 1);
}