#login-logo {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 3rem auto;
}

#login-logo-image {
    width: var(--login-logo-image-size);
}

#login-logo-text {
    align-items: center;
    color: var(--color-c) !important;
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-logo);
    font-weight: var(--font-weight-logo);
    margin: -0.25rem 0 0 1rem;
}

#login-logo-text #title-top {
    font-family: var(--font-family-handbook);
    font-size: 2.2rem;
    margin-bottom: -0.25rem;
}

#login-logo-text #title-middle {
    font-family: var(--font-family-logo);
    font-size: var(--login-logo-text-size);
}

#login-logo-text #title-bottom {
    font-family: var(--font-family-handbook);
    font-size: 1rem;
    margin-top: 0;
}