<div id="list">

    <div id="header">
        <home-button-and-title [feature]="feature" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
    </div>

    <div id="table-wrapper">
        <p-table #table [scrollable]="true" [value]="records" [virtualScrollItemSize]="33" [virtualScroll]="true" scrollHeight="flex" dataKey="id" selectionMode="single" sortMode="multiple">
            <ng-template pTemplate="header">
                <tr>
                    <th style="min-width: 10%; max-width: 10%;" pSortableColumn="isActive">{{ getLabel("headerIsActive") }}<p-sortIcon field="isActive"></p-sortIcon></th>
                    <th style="min-width: 70%; max-width: 70%;" pSortableColumn="description">{{ getLabel("headerDescription") }}<p-sortIcon field="description"></p-sortIcon></th>
                    <th style="min-width: 20%; max-width: 20%;" pSortableColumn="taxNo">{{ getLabel("headerTaxNo") }}<p-sortIcon field="taxNo"></p-sortIcon></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr [pSelectableRow]="rowData" (dblclick)="editRecord(rowData.id)">
                    <td [ngClass]="rowData.isActive ? 'is-active': 'is-not-active'" style="min-width: 10%; max-width: 10%; text-align: center;">
                        <span *ngIf="rowData.isActive" class="is-active material-icons-outlined">check_circle</span>
                        <span *ngIf="!rowData.isActive" class="is-not-active material-icons-outlined">highlight_off</span>
                    </td>
                    <td style="min-width: 70%; max-width: 70%;">{{ rowData.description }}</td>
                    <td style="min-width: 20%; max-width: 20%; text-align: center;">{{ rowData.taxNo }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div id="footer">
        <div class="button-group">
            <button (click)="storeScrollPosition()" class="primary" mat-flat-button>Store scroll position</button>
            <button (click)="newRecord()" class="primary" mat-flat-button>{{ getLabel("newButton") }}</button>
        </div>
    </div>

</div>