:root {
    --color-autocomplete-background-hover: #a6d5fa26;
    --color-autocomplete-background: #657171;
    --color-autocomplete-border-active: #fe9f36;
    --color-autocomplete: #ededed;
    --color-border-item-active: #f2d492;
    --color-border-item-inactive: #576971;
    --color-button-delete-hover: #e35c59;
    --color-button-delete: #f28482;
    --color-button-embarkation-ok: #aff3b4;
    --color-button-embarkation-pending: #ffbf79;
    --color-button-icon: #ededed;
    --color-button-primary-hover: #35ccea;
    --color-button-primary: #10a7c4;
    --color-button-secondary-hover: #84a2b9;
    --color-button-secondary: #426176;
    --color-button-text: #ededed;
    --color-calendar-day-background: #607b90;
    --color-calendar-days-no-schedule-background: #515c61;
    --color-calendar-days-schedule-background: #5d6565;
    --color-calendar-popup-add-reservation: #efe7ce;
    --color-calendar-popup-destination: #bff5a2;
    --color-calendar-popup-details: #719298;
    --color-calendar-today: #46f6ff;
    --color-checkbox-checked: #55828b;
    --color-checkbox-indeterminate: #185258;
    --color-common-background: #4c565a;
    --color-credit-about: #efefef;
    --color-credit-hover: #545454;
    --color-credit-title: #fe9f36;
    --color-credit-url: #ffe85c;
    --color-datepicker-days: #ededed;
    --color-datepicker-month: #ffe85c;
    --color-dropdown-background: #657171;
    --color-dropdown-icons: #efe7ce;
    --color-embarkation-list-icons: #6ba2ad;
    --color-embarkation-list-ticketNo: #f0e8df;
    --color-embarkation-reservation-icon: #8bd0de;
    --color-headers: #efe7ce;
    --color-icon-remarks-warning: #fcff29;
    --color-logo-image: #efe7ce;
    --color-logo-text: #cce3ff;
    --color-manifest-list-crew-icon: #cce3ff;
    --color-manifest-list-passenger-icon: #ffb32c;
    --color-map-buttons-background: #426176;
    --color-map-buttons: #ebe5cd;
    --color-map-tooltip-background: #93bcc4;
    --color-map-tooltip-color: #000000;
    --color-menu-background-hover: #6390ab4a;
    --color-menu-background: #657171;
    --color-menu-icons: #efe7ce;
    --color-menu-sub-items-background: #a6d5fa0f;
    --color-menu-sub-items: #c0f3c4;
    --color-menu-text-hover: #ffffff;
    --color-radio-inner-circle: #ffe85c;
    --color-radio-outer-circle: #fe9f36;
    --color-scrollbar: #fe9f36;
    --color-selected-tab: #ffe85c;
    --color-slider-bar-active: #6d7273;
    --color-slider-bar-inactive: #a2a6a7;
    --color-slider-thumb-active: #6a7f82;
    --color-slider-thumb-inactive: #a2a6a7;
    --color-snackbar-error: #920402;
    --color-snackbar-info: #76a28d;
    --color-spinner-inner: #ffe85c;
    --color-spinner-outer: #fe9f36;
    --color-spinner: #fe9f36;
    --color-summary-background: #555f64;
    --color-summary-header-icon: #efe7ce;
    --color-summary-header: #e6ba8a;
    --color-summary-scroll-icon: #efe7ce;
    --color-summary-total: #e6ba8a;
    --color-table-badge-background: #7c8084;
    --color-table-badge-color: #ffe85c;
    --color-table-column-seperator: #4c565a;
    --color-table-filter-border: #8d8d8d;
    --color-table-header: #657171;
    --color-table-row-focus-outline: #ffe85c;
    --color-table-row-group-header: #65717170;
    --color-table-row-group-hover: #ffeb6f;
    --color-table-row-group: #c0f3c4;
    --color-table-row-highlight: #7c8084;
    --color-table-row-subgroup: #c8e3ff;
    --color-table-sort-icon: #efe7ce;
    --color-text-primary: #efefef;
    --color-text-secondary: #ecd234;
    --color-text-selected: #f2d49266;
    --color-tooltip-background: #fe9f36;
    --color-tooltip: #525d61;
}