<div *ngIf=isAdmin() id="button-wrapper">
    <button [matMenuTriggerFor]="tables" class="fab fab-with-no-background" mat-icon-button matTooltip="{{ getLabel('tables') }}" matTooltipPosition="before">
        <mat-icon class="material-icons-outlined">list_alt</mat-icon>
    </button>
</div>

<mat-menu #tables="matMenu" class="primary">
    <ng-container *ngTemplateOutlet="tablesMenu"></ng-container>
</mat-menu>

<ng-template #tablesMenu>
    <button *ngFor="let item of menuItems" (click)="doNavigationTasks(item.id)" mat-menu-item>
        <span>{{ item.description }}</span>
    </button>
</ng-template>
