<div id="form-wrapper">

    <div id="content">

        <div id="header">
            <home-button-and-title [feature]="feature" [featureIcon]="featureIcon" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
        </div>

        <form [formGroup]="form" id="form">
            <!-- Current password -->
            <mat-form-field>
                <mat-label>{{ getLabel('currentPassword') }}</mat-label>
                <input [inputTabStop]="input" [type]="hidePassword ? 'password' : 'text'" dataTabIndex="1" formControlName="currentPassword" matInput>
                <div matSuffix style="display:flex">
                    <button (click)="hidePassword = !hidePassword" mat-icon-button type="button">
                        <mat-icon class="input-suffix material-icons-outlined extra-top-margin small">{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
                    </button>
                </div>
                <mat-error *ngIf="currentPassword.hasError('required')">{{ getHint("required") }}</mat-error>
            </mat-form-field>
            <div formGroupName="passwords" id="passwords">
                <!-- New password -->
                <mat-form-field>
                    <mat-label>{{ getLabel('newPassword') }}</mat-label>
                    <input [inputTabStop]="input" [type]="hidePassword ? 'password' : 'text'" dataTabIndex="2" formControlName="password" matInput>
                    <div matSuffix style="display:flex">
                        <button (click)="hidePassword = !hidePassword" mat-icon-button type="button">
                            <mat-icon class="input-suffix material-icons-outlined extra-top-margin small">{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
                        </button>
                    </div>
                    <mat-error *ngIf="password.hasError('required')">{{ getHint("required") }}</mat-error>
                    <mat-error *ngIf="password.hasError('containsSpace')">{{ getHint("spacesNotAllowed") }}</mat-error>
                    <mat-error *ngIf="password.hasError('doesNotContainUpperCase')">{{ getHint("doesNotContainUpperCase") }}</mat-error>
                    <mat-error *ngIf="password.hasError('doesNotContainLowerCase')">{{ getHint("doesNotContainLowerCase") }}</mat-error>
                    <mat-error *ngIf="password.hasError('doesNotContainSymbol')">{{ getHint("doesNotContainSymbol") }}</mat-error>
                    <mat-error *ngIf="password.hasError('doesNotContainDigits')">{{ getHint("doesNotContainDigits") }}</mat-error>
                    <mat-error *ngIf="password.hasError('minlength')">{{ getHint("minLength", password.errors.minlength.requiredLength) }}</mat-error>
                    <mat-error *ngIf="password.hasError('maxlength')">{{ getHint("maxLength", password.errors.maxlength.requiredLength) }}</mat-error>
                </mat-form-field>
                <!-- Confirm password -->
                <mat-form-field>
                    <mat-label>{{ getLabel('confirmPassword') }}</mat-label>
                    <input [errorStateMatcher]="confirmValidParentMatcher" [inputTabStop]="input" [type]="hidePassword ? 'password' : 'text'" dataTabIndex="3" formControlName="confirmPassword" matInput>
                    <div matSuffix style="display:flex">
                        <button (click)="hidePassword = !hidePassword" mat-icon-button type="button">
                            <mat-icon class="input-suffix material-icons-outlined extra-top-margin small">{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
                        </button>
                    </div>
                    <mat-error *ngIf="confirmPassword?.hasError('required')">{{ getHint("required") }}</mat-error>
                    <mat-error *ngIf="!confirmPassword?.hasError('required') && !matchingPasswords">{{ getHint("passwordsNoMatch") }}</mat-error>
                    <mat-error *ngIf="!confirmPassword?.hasError('required') && matchingPasswords">{{ getHint("invalid") }}!</mat-error>
                </mat-form-field>
            </div>
        </form>
    </div>

    <div id="footer">
        <div id="align-right">
            <button (click)="onSave()" [disabled]="!form.valid" class="primary" mat-flat-button>
                <mat-icon *ngIf="!form.valid" class="material-icons-outlined">lock</mat-icon>
                <span>{{ getLabel("saveButton") | uppercase }}</span>
            </button>
        </div>
    </div>

</div>
