<div id="list-wrapper">

    <div id="content">

        <div id="header">
            <home-button-and-title [featureIcon]="featureIcon" [feature]="feature" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
            <form [formGroup]="form" autocomplete="off">
                <mat-form-field>
                    <mat-label>{{ getLabel('plates') }}</mat-label>
                    <input formControlName="plates" matInput>
                    <mat-hint>{{ getLabel("platesHint") }}</mat-hint>
                    <mat-error *ngIf="plates.hasError('required')">{{ getHint("required") }}</mat-error>
                </mat-form-field>
            </form>
        </div>

        <div id="table-wrapper">
            <p-table (onRowSelect)="rowSelect()" (onRowUnselect)="rowUnselect()" [(selection)]="selectedRecords" [scrollable]="true" [value]="records" [virtualScrollItemSize]="32" [virtualScroll]="true" scrollHeight="flex" selectionMode="multiple" sortMode="multiple">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="width-2"></th>
                        <th class="width-1">{{ getLabel("headerColor") }}</th>
                        <th class="width-18">{{ getLabel("headerDescription") }}</th>
                        <th class="width-2">{{ getLabel("headerQty") }}</th>
                        <th class="width-2">{{ getLabel("headerNetPrice") }}</th>
                        <th class="width-2">{{ getLabel("headerGrossPrice") }}</th>
                        <th class="width-2">{{ getLabel("headerTotalGrossPrice") }}</th>
                    </tr>
                    <tr>
                        <th class="width-2"><span class="center" style="padding: 0.1875rem 0 0 0.3125rem !important"><p-tableHeaderCheckbox></p-tableHeaderCheckbox></span></th>
                        <th class="width-1"></th>
                        <th class="width-18"></th>
                        <th class="width-2"></th>
                        <th class="width-2"></th>
                        <th class="width-2"></th>
                        <th class="width-2"></th>
                    </tr>
                </ng-template>
                <ng-template let-record pTemplate="body" let-rowIndex="rowIndex">
                    <tr (click)="highlightRow(record.id)" [attr.id]=record.id class="without-footer" style="height: 32px;">
                        <td class="width-2"><span class="center"><p-tableCheckbox [value]="record"></p-tableCheckbox></span></td>
                        <td class="width-1"><span class="center no-left-padding" style="font-size: 0.5rem; padding-top: 0 !important;">{{ getEmoji(record.color.description) }}</span></td>
                        <td class="width-18"><span>{{ record.description }}</span></td>
                        <td class="width-2" [ngClass]="colorizeCellValue( record.totalGrossPrice)" pEditableColumn (click)="storeSelectedRowIndex(rowIndex)">
                            <span class="number" style="justify-content: end;">
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input (focus)="selectField($event)" (keyup)="calculateTotalGrossPrice('qty', $event)" [(ngModel)]="record.qty" pInputText type="number">
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{ formatNumberToLocale(record.qty, false) }}
                                    </ng-template>
                                </p-cellEditor>
                            </span>
                        </td>
                        <td class="width-2" [ngClass]="colorizeCellValue( record.totalGrossPrice)" pEditableColumn (click)="storeSelectedRowIndex(rowIndex)">
                            <span class="number" style="justify-content: end;">
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input (focus)="selectField($event)" (keyup)="calculateTotalGrossPrice('grossPrice', $event)" pInputText [(ngModel)]="record.netPrice" type="number">
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{ formatNumberToLocale(record.netPrice) }}
                                    </ng-template>
                                </p-cellEditor>
                            </span>
                        </td>
                        <td class="width-2" [ngClass]="colorizeCellValue( record.totalGrossPrice)" pEditableColumn (click)="storeSelectedRowIndex(rowIndex)">
                            <span class="number" style="justify-content: end;">
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input (focus)="selectField($event)" (keyup)="calculateTotalGrossPrice('grossPrice', $event)" pInputText [(ngModel)]="record.grossPrice" type="number">
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{ formatNumberToLocale(record.grossPrice) }}
                                    </ng-template>
                                </p-cellEditor>
                            </span>
                        </td>
                        <td class="width-2" [ngClass]="colorizeCellValue( record.totalGrossPrice)">
                            <span class="number" style="justify-content: end;">
                                {{ formatNumberToLocale(record.totalGrossPrice) }}
                            </span>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

    </div>

    <div id="footer">
        <div class="filter-pill">
            <div class="pill">
                <mat-icon class="material-icons-outlined">functions</mat-icon>
                <div class="right description">{{ totalAmount.toFixed(2) }}</div>
            </div>
        </div>
        <div id="align-right">
            <button (click)="initQuote()" class="secondary" mat-flat-button>{{ getLabel("resetButton") | uppercase }}</button>
            <button (click)="doReportTasks()" [disabled]="!isQuoteValid()" class="primary" mat-flat-button>
                <mat-icon *ngIf="!isQuoteValid()" class="material-icons-outlined">lock</mat-icon>
                <span>{{ getLabel("printButton") | uppercase }}</span>
            </button>
        </div>
    </div>

</div>
