<div id="list">

    <div id="header">
        <home-button-and-title [feature]="feature" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
        <div id="criteria">
            <div class="pill">
                <img [src]="getIcon('total')">
                <div class="number description">{{ grossPrice.toFixed(2) }}</div>
            </div>
        </div>
    </div>

    <div id="table-wrapper">
        <p-table #table [autoLayout]="false" [scrollable]="true" [value]="records" [virtualScrollItemSize]="33" [virtualScroll]="false" dataKey="id" scrollHeight="flex" selectionMode="single" sortMode="multiple" stateKey="item-list" stateStorage="session" (onRowSelect)="rowSelect($event)" (onRowUnselect)="rowUnselect($event)">
            <ng-template pTemplate="header">
                <tr>
                    <th style="min-width: 5%; max-width: 5%;"></th>
                    <th data-cy="column" style="min-width: 75%; max-width: 75%;" pSortableColumn="description">{{ getLabel("headerDescription") }}<p-sortIcon field="description"></p-sortIcon></th>
                    <th data-cy="column" style="min-width: 10%; max-width: 10%;" pSortableColumn="netPrice">{{ getLabel("headerNetPrice") }}<p-sortIcon field="netPrice"></p-sortIcon></th>
                    <th data-cy="column" style="min-width: 10%; max-width: 10%;" pSortableColumn="grossPrice">{{ getLabel("headerGrossPrice") }}<p-sortIcon field="grossPrice"></p-sortIcon></th>
                </tr>
                <tr>
                    <th style="min-width: 5%; max-width: 5%;"></th>
                    <th style="min-width: 75%; max-width: 75%;"><input data-cy="filter-description" type="text" class="p-inputtext" (input)="table.filter($event.target.value, 'description', 'contains')" [value]="$any(table).filters['description']?.value"></th>
                    <th style="min-width: 10%; max-width: 10%;"><input data-cy="filter-netPrice" type="text" class="p-inputtext" (input)="table.filter($event.target.value, 'netPrice', 'contains')" [value]="$any(table).filters['netPrice']?.value"></th>
                    <th style="min-width: 10%; max-width: 10%;"><input data-cy="filter-grossPrice" type="text" class="p-inputtext" (input)="table.filter($event.target.value, 'grossPrice', 'contains')" [value]="$any(table).filters['grossPrice']?.value"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr data-cy="row">
                    <td style="width: 5%; max-width: 5%; justify-content: center;">
                        <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                    </td>
                    <td style="min-width: 75%; max-width: 75%;">{{ rowData.description }}</td>
                    <td style="min-width: 10%; max-width: 10%; justify-content: flex-end; padding-right: 1rem;">{{ formatNumberToLocale(rowData.netPrice) }}</td>
                    <td style="min-width: 10%; max-width: 10%; justify-content: flex-end; padding-right: 1rem;">{{ formatNumberToLocale(rowData.grossPrice) }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div id="footer">
        <form [formGroup]="form" autocomplete="off">
            <mat-form-field>
                <input [placeholder]="getLabel('plates')" formControlName="plates" id="plates" matInput>
                <mat-hint>Η πινακίδα κυκλοφορίας του οχήματος</mat-hint>
                <mat-error *ngIf="plates.hasError('required')">{{ getHint("required") }}</mat-error>
            </mat-form-field>
        </form>
        <div class="button-group">
            <button  mat-flat-button class="primary" id="new" [disabled]="!form.valid" (click)="doReportTasks()">{{ getLabel("printButton") }}</button>
        </div>
    </div>

</div>