<div id="list-wrapper">

    <div id="content">

        <div id="header">
            <home-button-and-title [feature]="feature" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
            <form [formGroup]="form" autocomplete="off">
                <mat-form-field>
                    <input [placeholder]="getLabel('plates')" formControlName="plates" id="plates" matInput>
                    <mat-hint>Η πινακίδα κυκλοφορίας του οχήματος</mat-hint>
                    <mat-error *ngIf="plates.hasError('required')">{{ getHint("required") }}</mat-error>
                </mat-form-field>
            </form>
        </div>

        <div id="table-wrapper">
            <p-table #table (onRowSelect)="rowSelect($event)" (onRowUnselect)="rowUnselect($event)" [(selection)]="selected" [scrollable]="true" [value]="records" [virtualScrollItemSize]="33" [virtualScroll]="true" scrollHeight="flex" selectionMode="multiple" sortMode="multiple" stateKey="item-list" stateStorage="session">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 5%;"></th>
                        <th style="width: 65%;">{{ getLabel("headerDescription") }}</th>
                        <th style="width: 10%;">{{ getLabel("headerQty") }}</th>
                        <th style="width: 10%;">{{ getLabel("headerGrossPrice") }}</th>
                        <th style="width: 10%;">{{ getLabel("headerTotalGrossPrice") }}</th>
                    </tr>
                    <tr>
                        <th><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                    <tr>
                        <!-- Checkbox -->
                        <td style="width: 5%; text-align: center;">
                            <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                        </td>
                        <!-- Description -->
                        <td [ngClass]="hasAmount(rowData.totalGrossPrice)" style="width: 65%;">{{ rowData.description }}</td>
                        <!-- Qty -->
                        <td [ngClass]="hasAmount(rowData.totalGrossPrice)" pEditableColumn (click)="storeSelectedRowIndex(rowIndex)" style="width: 10%; text-align: end; padding-right: 1rem;">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input (focus)="selectField($event)" (keyup)="calculateTotalGrossPrice('qty', $event)" [(ngModel)]="rowData.qty" pInputText type="number">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ formatNumberToLocale(rowData.qty, false) }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <!-- Gross price -->
                        <td [ngClass]="hasAmount(rowData.totalGrossPrice)" pEditableColumn (click)="storeSelectedRowIndex(rowIndex)" style="width: 10%; text-align: end; padding-right: 1rem;">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input (focus)="selectField($event)" (keyup)="calculateTotalGrossPrice('grossPrice', $event)" pInputText [(ngModel)]="rowData.grossPrice" type="number">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ formatNumberToLocale(rowData.grossPrice) }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <!-- Total gross price -->
                        <td [ngClass]="hasAmount(rowData.totalGrossPrice)" style="width: 10%; text-align: right;">{{ formatNumberToLocale(rowData.totalGrossPrice) }}</td>
                    </tr>
                </ng-template>
            </p-table>

        </div>

    </div>


    <div id="footer">
        <div id="criteria">
            <div class="pill">
                <!-- <img [src]="getIcon('total')"> -->
                <div class="number description">{{ totalAmount.toFixed(2) }}</div>
            </div>
        </div>
        <div class="button-group">
            <button mat-flat-button class="secondary" (click)="initQuote()">{{ getLabel("resetButton") }}</button>
            <button mat-flat-button class="primary" [disabled]="!form.valid" (click)="doReportTasks()">{{ getLabel("printButton") }}</button>
        </div>
    </div>

</div>
