#content {
    overflow-y: scroll;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.mat-card {
    height: -webkit-fill-available;
    padding: 2rem 2rem 3.5rem 2rem;
    width: 100%;
}

.mat-card:hover {
    background-color: var(--color-a) !important;
    cursor: auto;
}

.mat-card-title {
    margin: 0 !important;
}

.mat-card-subtitle {
    margin: 0 0 1rem 0 !important;
}

.group-field {
    width: 100%;
}
