.mat-mdc-tooltip .mdc-tooltip__surface {
    background-color: var(--color-button-primary) !important;
    color: var(--color-tooltip-text) !important;
    font-family: var(--font-family-asty) !important;
    font-weight: 300 !important;
    padding: 1rem 1rem 1rem 1rem !important;
}

.tooltip-inside-input-field {
    color: var(--color-text);
    font-family: var(--font-family-roboto);
    margin: -0.5rem -0.5625rem 0 0;
    padding: 0.5rem 1rem 0.5rem 1rem;
    transition: color var(--theme-delay);
}
