.mdc-checkbox {
    margin: 0 !important;
    padding: 0 !important;
}

.mat-mdc-checkbox-touch-target {
    height: 1.125rem !important;
    left: 50% !important;
    top: 50% !important;
    width: 1.125rem !important;
}

.mdc-checkbox .mdc-checkbox__background {
    background-color: var(--color-background) !important;
    border-color: var(--color-input-background) !important;
    left: 0 !important;
    top: 0 !important;
    transition: all var(--theme-delay) !important;
}

.mdc-checkbox .mdc-checkbox__native-control {
    height: 1.125rem !important;
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
    width: 1.125rem !important;
}

.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background {
    background-color: var(--color-background) !important;
    border-color: var(--color-input-background) !important;
    transition: all var(--theme-delay) !important;
}

.mdc-checkbox__checkmark {
    color: var(--color-text) !important;
}

.mat-mdc-checkbox label {
    align-items: center;
    display: flex;
    padding-left: 0.5rem !important;
}

.mat-mdc-checkbox label span {
    color: var(--color-text);
    font-family: var(--font-family-asty);
    font-size: 0.8125rem;
    font-weight: 300;
    margin: 0.24rem 0 0 0;
}

.mat-mdc-checkbox label .mat-icon.small {
    align-items: center;
    color: var(--color-text);
    display: flex;
    font-size: 1.125rem;
    justify-content: center;
    transition: color var(--theme-delay) !important;
}

.stacked-checkboxes {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin: 0 0 0 1rem;
}
