<div id="main-menu">
    <mat-card>
        <img mat-card-sm-image src="../../../../assets/images/icons/items.svg" >
        <mat-card-title>Αρχείο ειδών</mat-card-title>
        <mat-divider inset></mat-divider>
        <mat-card-subtitle>Διαχείρηση ειδών και υπηρεσιών</mat-card-subtitle>
    </mat-card>
    <mat-card>
        <img mat-card-sm-image src="../../../../assets/images/icons/report.svg" >
        <mat-card-title>Προσφορές</mat-card-title>
        <mat-divider inset></mat-divider>
        <mat-card-subtitle>Δημιουργία νέας προσφοράς</mat-card-subtitle>
    </mat-card>
    <mat-card>
        <img mat-card-sm-image src="../../../../assets/images/icons/settings.svg" >
        <mat-card-title>Παράμετροι</mat-card-title>
        <mat-divider inset></mat-divider>
        <mat-card-subtitle>Ρυθμίσεις και επιλογές</mat-card-subtitle>
    </mat-card>
</div>