<div id="form-wrapper">

    <div id="header">
        <home-button-and-title [feature]="feature" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
    </div>

    <div id="content">
        <form [formGroup]="form" autocomplete="off" data-cy="form">
            <div formGroupName="passwords" id="passwords">
                <mat-form-field>
                    <input [inputTabStop]="input" [placeholder]="getLabel('password')" [type]="hidePassword ? 'password' : 'text'" data-cy="password" data-tabindex="1" formControlName="password" id="password" matInput>
                    <button (click)="hidePassword = !hidePassword" mat-icon-button matSuffix type="button">
                        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                    <mat-error *ngIf="password.hasError('required')">{{ getHint("required") }}</mat-error>
                    <mat-error *ngIf="password.hasError('containsSpace')">{{ getHint("spacesNotAllowed") }}</mat-error>
                    <mat-error *ngIf="password.hasError('minlength') && !password.hasError('containsSpace')">{{ getHint("minLength", password.errors.minlength.requiredLength) }}</mat-error>
                    <mat-error *ngIf="password.hasError('maxlength') && !password.hasError('containsSpace')">{{ getHint("maxLength", password.errors.maxlength.requiredLength) }}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input [errorStateMatcher]="confirmValidParentMatcher" [inputTabStop]="input" [placeholder]="getLabel('confirmPassword')" [type]="hidePassword ? 'password' : 'text'" data-cy="confirmPassword" data-tabindex="2" formControlName="confirmPassword" id="confirmPassword" matInput>
                    <button (click)="hidePassword = !hidePassword" mat-icon-button matSuffix type="button">
                        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                    <mat-error *ngIf="confirmPassword?.hasError('required')">{{ getHint("required") }}</mat-error>
                    <mat-error *ngIf="!confirmPassword?.hasError('required') && !matchingPasswords">{{ getHint("passwordsNoMatch") }}</mat-error>
                    <mat-error *ngIf="!confirmPassword?.hasError('required') && matchingPasswords">{{ getHint("invalid") }}</mat-error>
                </mat-form-field>
            </div>
        </form>
        <p class="instructions" [class.hidden]=true>{{ form.value | json }} {{ form.valid }}</p>
    </div>

    <div id="footer">
        <div class="button-group">
            <button (click)="onSave()" [disabled]="!form.valid" class="primary" data-cy="save" id="save" mat-flat-button>{{ getLabel("saveButton") }}</button>
        </div>
    </div>

</div>