<div id="list">

    <div id="header">
        <home-button-and-title [feature]="feature" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
    </div>

    <div id="table-wrapper">
        <p-table #table [autoLayout]="false" [scrollable]="true" [value]="records" [virtualScrollItemSize]="33" [virtualScroll]="false" dataKey="id" scrollHeight="flex" selectionMode="single" sortMode="multiple" stateKey="item-list" stateStorage="session">
            <ng-template pTemplate="header">
                <tr>
                    <th data-cy="column" style="min-width: 10%; max-width: 10%;" pSortableColumn="isActive">{{ getLabel("headerIsActive") }}<p-sortIcon field="isActive"></p-sortIcon></th>
                    <th data-cy="column" style="min-width: 70%; max-width: 70%;" pSortableColumn="description">{{ getLabel("headerDescription") }}<p-sortIcon field="description"></p-sortIcon></th>
                    <th data-cy="column" style="min-width: 10%; max-width: 10%;" pSortableColumn="netPrice">{{ getLabel("headerNetPrice") }}<p-sortIcon field="netPrice"></p-sortIcon></th>
                    <th data-cy="column" style="min-width: 10%; max-width: 10%;" pSortableColumn="grossPrice">{{ getLabel("headerGrossPrice") }}<p-sortIcon field="grossPrice"></p-sortIcon></th>
                </tr>
                <tr>
                    <th style="min-width: 10%; max-width: 10%;"><p-columnFilter data-cy="filter-active" type="boolean" field="isActive"></p-columnFilter></th>
                    <th style="min-width: 70%; max-width: 70%;"><input data-cy="filter-description" type="text" class="p-inputtext" (input)="table.filter($event.target.value, 'description', 'contains')" [value]="$any(table).filters['description']?.value"></th>
                    <th style="min-width: 10%; max-width: 10%;"><input data-cy="filter-netPrice" type="text" class="p-inputtext" (input)="table.filter($event.target.value, 'netPrice', 'contains')" [value]="$any(table).filters['netPrice']?.value"></th>
                    <th style="min-width: 10%; max-width: 10%;"><input data-cy="filter-grossPrice" type="text" class="p-inputtext" (input)="table.filter($event.target.value, 'grossPrice', 'contains')" [value]="$any(table).filters['grossPrice']?.value"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr data-cy="row" [pSelectableRow]="rowData" (dblclick)="editRecord(rowData.id)">
                    <td [ngClass]="rowData.isActive ? 'is-active': 'is-not-active'" style="min-width: 10%; max-width: 10%; justify-content: center;">
                        <span *ngIf="rowData.isActive" class="is-active material-icons-outlined">check_circle</span>
                        <span *ngIf="!rowData.isActive" class="is-not-active material-icons-outlined">highlight_off</span>
                    </td>
                    <td style="min-width: 70%; max-width: 70%;">{{ rowData.description }}</td>
                    <td style="min-width: 10%; max-width: 10%; justify-content: flex-end; padding-right: 1rem;">{{ formatNumberToLocale(rowData.netPrice) }}</td>
                    <td style="min-width: 10%; max-width: 10%; justify-content: flex-end; padding-right: 1rem;">{{ formatNumberToLocale(rowData.grossPrice) }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div id="footer">
        <div class="button-group">
            <button data-cy="new" mat-flat-button class="primary" id="new" (click)="newRecord()">{{ getLabel("newButton") }}</button>
        </div>
    </div>

</div>