<div id="list-wrapper">

    <div id="content">

        <div id="header">
            <home-button-and-title [featureIcon]="featureIcon" [feature]="feature" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
        </div>

        <div id="table-wrapper">
            <p-table #table (onFilter)="filterRecords($event)" [scrollable]="true" [value]="records" [virtualScrollItemSize]="32" [virtualScroll]="true" dataKey="id" scrollHeight="flex" selectionMode="single" sortMode="multiple">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="width-5" pSortableColumn="isActive">{{ getLabel("headerIsActive") }}</th>
                        <th class="width-18" pSortableColumn="description">{{ getLabel("headerDescription") }}</th>
                        <th class="width-18" pSortableColumn="netPrice">{{ getLabel("headerNetValue") }}</th>
                        <th class="width-18" pSortableColumn="grossPrice">{{ getLabel("headerGrossValue") }}</th>
                    </tr>
                    <tr>
                        <th class="width-5"><p-columnFilter field="isActive" type="boolean"></p-columnFilter></th>
                        <th class="width-18"><input (input)="table.filter($event.target.value, 'description', 'contains')" [value]="$any(table).filters['description']?.value" class="p-inputtext"></th>
                        <th class="width-18"><input (input)="table.filter($event.target.value, 'netPrice', 'contains')" [value]="$any(table).filters['netPrice']?.value" class="p-inputtext"></th>
                        <th class="width-18"><input (input)="table.filter($event.target.value, 'grossPrice', 'contains')" [value]="$any(table).filters['grossPrice']?.value" class="p-inputtext"></th>
                    </tr>
                </ng-template>
                <ng-template let-record pTemplate="body">
                    <tr (click)="highlightRow(record.id)" (dblclick)="editRecord(record.id)" [attr.id]=record.id class="without-footer" style="height: 32px;">
                        <td class="width-5"><span class="center no-left-padding" style="font-size: 0.5rem; padding-top: 0 !important;">{{ getEmoji(record.isActive) }}</span></td>
                        <td class="width-18"><span>{{ record.description }}</span></td>
                        <td class="width-18"><span>{{ record.netPrice }}</span></td>
                        <td class="width-18"><span>{{ record.grossPrice }}</span></td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

    </div>

    <div id="footer">
        <table-total-filtered-records (resetTableFilters)="resetTableFilters()" [filteredRecordCount]="recordsFilteredCount" [recordCount]="records.length"></table-total-filtered-records>
        <div id="align-right">
            <button (click)="newRecord()" class="primary" mat-flat-button>{{ getLabel("newRecord") | uppercase }}</button>
        </div>
    </div>

</div>
