<div id="form-wrapper">

    <div id="header">
        <home-button-and-title [feature]="feature" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
    </div>

    <div id="content">
        <form [formGroup]="form" autocomplete="off" data-cy="form">
            <mat-form-field>
                <input [inputTabStop]="input" [placeholder]="getLabel('description')" data-cy="description" data-tabindex="1" formControlName="description" id="description" matInput>
                <mat-error *ngIf="description.hasError('required')">{{ getHint("required") }}</mat-error>
                <mat-error *ngIf="description.hasError('maxlength')">{{ getHint("maxLength", description.errors.maxlength.requiredLength) }}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input [inputTabStop]="input" [placeholder]="getLabel('vatPercent')" data-cy="vatPercent" data-tabindex="2" formControlName="vatPercent" id="vatPercent" matInput>
                <mat-error *ngIf="vatPercent.hasError('maxlength')">{{ getHint("maxLength", vatPercent.errors.maxlength.requiredLength) }}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input [inputTabStop]="input" [placeholder]="getLabel('netPrice')" data-cy="netPrice" data-tabindex="3" formControlName="netPrice" id="netPrice" matInput>
                <mat-error *ngIf="netPrice.hasError('maxlength')">{{ getHint("maxLength", netPrice.errors.maxlength.requiredLength) }}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input [inputTabStop]="input" [placeholder]="getLabel('grossPrice')" data-cy="grossPrice" data-tabindex="4" formControlName="grossPrice" id="grossPrice" matInput>
                <mat-error *ngIf="grossPrice.hasError('maxlength')">{{ getHint("maxLength", grossPrice.errors.maxlength.requiredLength) }}</mat-error>
            </mat-form-field>
            <mat-slide-toggle data-cy="isActive" formControlName="isActive">{{ getLabel("isActive") }}
            </mat-slide-toggle>
        </form>
        <p class="instructions" [class.hidden]=true>{{ form.value | json }} {{ form.valid }}</p>
    </div>

    <div id="footer">
        <div class="button-group">
            <button (click)="onDelete()" *ngIf="form.value.id !== 0" class="delete" data-cy="delete" id="delete" mat-flat-button>{{ getLabel("deleteButton") }}</button>
            <button (click)="onSave()" [disabled]="!form.valid" class="primary" data-cy="save" id="save" mat-flat-button>{{ getLabel("saveButton") }}</button>
        </div>
    </div>

    <div *ngIf="isLoading | async">
        <loading-spinner></loading-spinner>
    </div>

</div>