<div id="form-wrapper">

    <div id="content">

        <div id="header">
            <home-button-and-title [feature]="feature" [featureIcon]="featureIcon" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
        </div>

        <form [formGroup]="form" id="form">
            <mat-form-field>
                <mat-label>{{ getLabel('email') }}</mat-label>
                <input [inputTabStop]="input" dataTabIndex="1" formControlName="email" matInput type="email">
                <mat-error *ngIf="email.hasError('required')">{{ getHint("required") }}</mat-error>
                <mat-error *ngIf="!email.hasError('required') && !email.hasError('maxlength') && email.hasError('email')">{{ getHint("invalid") }}</mat-error>
            </mat-form-field>
        </form>

    </div>

    <div id="footer">
        <button (click)="onSubmit()" [disabled]="!form.valid" class="primary" id="submit-button" mat-flat-button>
            <mat-icon *ngIf="!form.valid" class="material-icons-outlined">lock</mat-icon>
            <span>{{ getLabel("submitButton") | uppercase }}</span>
        </button>
    </div>

    <div *ngIf="isLoading | async">
        <loading-spinner></loading-spinner>
    </div>

</div>
