<div id="forgot-password-form">

    <div id="top">
        <language-menu></language-menu>
        <theme-menu></theme-menu>
    </div>

    <login-logo></login-logo>

    <div id="header">
        <home-button-and-title [feature]="feature" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
    </div>

    <div id="content">
        <form [formGroup]="form" autocomplete="off" data-cy="form">
            <mat-form-field>
                <input [inputTabStop]="input" [placeholder]="getLabel('email')" data-cy="email" data-tabindex="1" formControlName="email" id="email" matInput type="email">
                <mat-error *ngIf="email.hasError('required')">{{ getHint("required") }}</mat-error>
                <mat-error *ngIf="!email.hasError('required') && !email.hasError('maxlength') && email.hasError('email')">{{ getHint("invalid") }}</mat-error>
                <mat-hint>{{ getLabel("weNeedYourEmail") }}</mat-hint>
            </mat-form-field>
        </form>
        <p class="instructions" [class.hidden]=true>{{ form.value | json }} {{ form.valid }}</p>
    </div>

    <div id="footer">
        <button (click)="onSave()" [disabled]="!form.valid" class="primary" data-cy="save" id="save" mat-flat-button>{{ getLabel("saveButton") }}</button>
    </div>

    <div *ngIf="isLoading | async">
        <loading-spinner></loading-spinner>
    </div>

</div>