<div id="list">

    <div id="header">
        <home-button-and-title [feature]="feature" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
    </div>

    <div id="table-wrapper">
        <p-table #table [autoLayout]="false" [scrollable]="true" [value]="records" [virtualRowHeight]="33" [virtualScroll]="true" dataKey="id" scrollHeight="flex" selectionMode="single" sortMode="multiple" stateKey="customer-list" stateStorage="session">
            <ng-template pTemplate="header">
                <tr>
                    <th data-cy="column" style="min-width: 10%; max-width: 10%;" pSortableColumn="isActive">{{ getLabel("headerIsActive") }}<p-sortIcon field="isActive"></p-sortIcon></th>
                    <th data-cy="column" style="min-width: 50%; max-width: 50%;" pSortableColumn="description">{{ getLabel("headerName") }}<p-sortIcon field="description"></p-sortIcon></th>
                    <th data-cy="column" style="min-width: 20%; max-width: 20%;" pSortableColumn="email">{{ getLabel("headerEmail") }}<p-sortIcon field="email"></p-sortIcon></th>
                    <th data-cy="column" style="min-width: 20%; max-width: 20%;" pSortableColumn="phones">{{ getLabel("headerPhones") }}<p-sortIcon field="phones"></p-sortIcon></th>
                </tr>
                <tr>
                    <th style="min-width: 10%; max-width: 10%;"><p-columnFilter data-cy="filter-active" type="boolean" field="isActive"></p-columnFilter></th>
                    <th style="min-width: 50%; max-width: 50%;"><input data-cy="filter-description" type="text" class="p-inputtext" (input)="table.filter($event.target.value, 'description', 'contains')" [value]="$any(table).filters['description']?.value"></th>
                    <th style="min-width: 20%; max-width: 20%;"><input data-cy="filter-email" type="text" class="p-inputtext" (input)="table.filter($event.target.value, 'email', 'contains')" [value]="$any(table).filters['email']?.value"></th>
                    <th style="min-width: 20%; max-width: 20%;"><input data-cy="filter-phones" type="text" class="p-inputtext" (input)="table.filter($event.target.value, 'phones', 'contains')" [value]="$any(table).filters['phones']?.value"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr data-cy="row" [pSelectableRow]="rowData" (dblclick)="editRecord(rowData.id)">
                    <td [ngClass]="rowData.isActive ? 'is-active': 'is-not-active'" style="min-width: 10%; max-width: 10%; justify-content: center;">
                        <span *ngIf="rowData.isActive" class="is-active material-icons-outlined">check_circle</span>
                        <span *ngIf="!rowData.isActive" class="is-not-active material-icons-outlined">highlight_off</span>
                    </td>
                    <td style="min-width: 50%; max-width: 50%;">{{ rowData.description }}</td>
                    <td style="min-width: 20%; max-width: 20%;">{{ rowData.email }}</td>
                    <td style="min-width: 20%; max-width: 20%;">{{ rowData.phones }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div id="footer">
        <div @slideFromRight class="button-group">
            <button data-cy="new" mat-flat-button class="primary" id="new" (click)="newRecord()">{{ getLabel("newButton") }}</button>
        </div>
    </div>

</div>