#navigation {
    display: flex;
    margin: auto 1rem auto 0;
}

#navigation button {
    background-color: var(--color-e) !important;
    border: none;
    box-shadow: none;
    display: flex;
    margin-right: 1rem !important;
}

#title {
    align-items: center;
    display: flex;
}
