#content {
    overflow-y: hidden;
}

form {
    gap: 1rem;
    overflow-y: scroll !important;
}

.mat-mdc-card {
    height: 100%;
    padding: 2rem 2rem 3.5rem 2rem;
    width: 100% !important;
}

.mat-mdc-card:hover {
    background-color: var(--color-a) !important;
    cursor: auto;
}

.mat-mdc-card-title {
    margin: 0 !important;
}

.mat-mdc-card-subtitle {
    margin: 0 0 1rem 0 !important;
}

.group-field {
    width: 100%;
}
