<div id="form-wrapper">

    <div id="content">

        <div id="header">
            <home-button-and-title [feature]="feature" [featureIcon]="featureIcon" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
        </div>

        <form [formGroup]="form" id="form">
            <mat-card>
                <mat-card-title>Τα στοιχεία μας</mat-card-title>
                <mat-card-subtitle>Συμπληρώστε τα στοιχεία της εταιρίας που δίνει την προσφορά</mat-card-subtitle>
                <div class="group-field">
                    <mat-form-field>
                        <input [inputTabStop]="input" [placeholder]="getLabel('lineA')" data-cy="description" data-tabindex="1" formControlName="lineA" id="lineA" matInput>
                        <mat-error *ngIf="lineA.hasError('required')">{{ getHint("required") }}</mat-error>
                        <mat-error *ngIf="lineA.hasError('maxlength')">{{ getHint("maxLength", lineA.errors.maxlength.requiredLength) }}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input [inputTabStop]="input" [placeholder]="getLabel('lineB')" data-cy="description" data-tabindex="2" formControlName="lineB" id="lineB" matInput>
                        <mat-error *ngIf="lineB.hasError('maxlength')">{{ getHint("maxLength", lineB.errors.maxlength.requiredLength) }}</mat-error>
                    </mat-form-field>
                </div>
                <div class="group-field">
                    <mat-form-field>
                        <input [inputTabStop]="input" [placeholder]="getLabel('lineC')" data-cy="description" data-tabindex="3" formControlName="lineC" id="lineC" matInput>
                        <mat-error *ngIf="lineC.hasError('maxlength')">{{ getHint("maxLength", lineC.errors.maxlength.requiredLength) }}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input [inputTabStop]="input" [placeholder]="getLabel('lineD')" data-cy="description" data-tabindex="4" formControlName="lineD" id="lineD" matInput>
                        <mat-error *ngIf="lineD.hasError('maxlength')">{{ getHint("maxLength", lineD.errors.maxlength.requiredLength) }}</mat-error>
                    </mat-form-field>
                </div>
                <div class="group-field">
                    <mat-form-field>
                        <input [inputTabStop]="input" [placeholder]="getLabel('lineE')" data-cy="description" data-tabindex="5" formControlName="lineE" id="lineE" matInput>
                        <mat-error *ngIf="lineE.hasError('maxlength')">{{ getHint("maxLength", lineE.errors.maxlength.requiredLength) }}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input [inputTabStop]="input" [placeholder]="getLabel('lineF')" data-cy="description" data-tabindex="6" formControlName="lineF" id="lineF" matInput>
                        <mat-error *ngIf="lineF.hasError('maxlength')">{{ getHint("maxLength", lineF.errors.maxlength.requiredLength) }}</mat-error>
                    </mat-form-field>
                </div>
                <div class="group-field">
                    <mat-form-field>
                        <input [inputTabStop]="input" [placeholder]="getLabel('lineG')" data-cy="description" data-tabindex="7" formControlName="lineG" id="lineG" matInput>
                        <mat-error *ngIf="lineG.hasError('maxlength')">{{ getHint("maxLength", lineG.errors.maxlength.requiredLength) }}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input [inputTabStop]="input" [placeholder]="getLabel('lineH')" data-cy="description" data-tabindex="8" formControlName="lineH" id="lineH" matInput>
                        <mat-error *ngIf="lineH.hasError('maxlength')">{{ getHint("maxLength", lineH.errors.maxlength.requiredLength) }}</mat-error>
                    </mat-form-field>
                </div>
            </mat-card>
            <mat-card>
                <mat-card-title>Τα στοιχεία του πελάτη</mat-card-title>
                <mat-card-subtitle>Συμπληρώστε τα στοιχεία του πελάτη ο οποίος θα λάβει την προσφορά</mat-card-subtitle>
                <div class="group-field">
                    <mat-form-field>
                        <input [inputTabStop]="input" [placeholder]="getLabel('customerA')" data-cy="description" data-tabindex="9" formControlName="customerA" id="customerA" matInput>
                        <mat-error *ngIf="customerA.hasError('required')">{{ getHint("required") }}</mat-error>
                        <mat-error *ngIf="customerA.hasError('maxlength')">{{ getHint("maxLength", customerA.errors.maxlength.requiredLength) }}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input [inputTabStop]="input" [placeholder]="getLabel('customerB')" data-cy="description" data-tabindex="10" formControlName="customerB" id="customerB" matInput>
                        <mat-error *ngIf="customerB.hasError('maxlength')">{{ getHint("maxLength", customerB.errors.maxlength.requiredLength) }}</mat-error>
                    </mat-form-field>
                </div>
                <div class="group-field">
                    <mat-form-field>
                        <input [inputTabStop]="input" [placeholder]="getLabel('customerC')" data-cy="description" data-tabindex="11" formControlName="customerC" id="customerC" matInput>
                        <mat-error *ngIf="customerC.hasError('maxlength')">{{ getHint("maxLength", customerC.errors.maxlength.requiredLength) }}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input [inputTabStop]="input" [placeholder]="getLabel('customerD')" data-cy="description" data-tabindex="12" formControlName="customerD" id="customerD" matInput>
                        <mat-error *ngIf="customerD.hasError('maxlength')">{{ getHint("maxLength", customerD.errors.maxlength.requiredLength) }}</mat-error>
                    </mat-form-field>
                </div>
                <div class="group-field">
                    <mat-form-field>
                        <input [inputTabStop]="input" [placeholder]="getLabel('customerE')" data-cy="description" data-tabindex="13" formControlName="customerE" id="customerE" matInput>
                        <mat-error *ngIf="customerE.hasError('maxlength')">{{ getHint("maxLength", customerE.errors.maxlength.requiredLength) }}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input [inputTabStop]="input" [placeholder]="getLabel('customerF')" data-cy="description" data-tabindex="14" formControlName="customerF" id="customerF" matInput>
                        <mat-error *ngIf="customerF.hasError('maxlength')">{{ getHint("maxLength", customerF.errors.maxlength.requiredLength) }}</mat-error>
                    </mat-form-field>
                </div>
                <div class="group-field">
                    <mat-form-field>
                        <input [inputTabStop]="input" [placeholder]="getLabel('customerG')" data-cy="description" data-tabindex="15" formControlName="customerG" id="customerG" matInput>
                        <mat-error *ngIf="customerG.hasError('maxlength')">{{ getHint("maxLength", customerG.errors.maxlength.requiredLength) }}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input [inputTabStop]="input" [placeholder]="getLabel('customerH')" data-cy="description" data-tabindex="16" formControlName="customerH" id="customerH" matInput>
                        <mat-error *ngIf="customerH.hasError('maxlength')">{{ getHint("maxLength", customerH.errors.maxlength.requiredLength) }}</mat-error>
                    </mat-form-field>
                </div>

                <!-- Phones -->
                <mat-form-field>
                    <mat-label>{{ getLabel('phones') }}</mat-label>
                    <input [inputTabStop]="input" dataTabIndex="1" formControlName="phones" matInput>
                    <mat-error *ngIf="phones.hasError('required')">{{ getHint("required") }}</mat-error>
                    <mat-error *ngIf="phones.hasError('maxlength')">{{ getHint("maxLength", phones.errors.maxlength.requiredLength) }}</mat-error>
                </mat-form-field>
                <!-- Email -->
                <mat-form-field>
                    <mat-label>{{ getLabel('email') }}</mat-label>
                    <input [inputTabStop]="input" dataTabIndex="2" formControlName="email" matInput>
                    <mat-error *ngIf="email.hasError('maxlength')">{{ getHint("maxLength", email.errors.maxlength.requiredLength) }}</mat-error>
                    <mat-error *ngIf="!email.hasError('maxlength') && email.hasError('email')">{{ getHint("invalid") }}</mat-error>
                </mat-form-field>
            </mat-card>
        </form>

        <div class="align-bottom">
            <!-- Metadata -->
            <metadata-panel [feature]="feature" [postAt]="form.value.postAt" [postUser]="form.value.postUser" [putAt]="form.value.putAt" [putUser]="form.value.putUser"></metadata-panel>
        </div>

    </div>

    <div id="footer">
        <div id="align-right">
            <button (click)="onSave()" [disabled]="!form.valid" class="primary" mat-flat-button>
                <mat-icon *ngIf="!form.valid" class="material-icons-outlined">lock</mat-icon>
                <span>{{ getLabel("saveButton") | uppercase }}</span>
            </button>
        </div>
    </div>

</div>
