:host {
    align-items: center;
    background: none;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.outer {
    background: none;
    height: 12.5rem;
    width: 12.5rem;
}

.spikes {
    height: 100%;
    transform: translateZ(0) scale(1);
    width: 100%;
}

.spikes div {
    animation: spikes linear 1s infinite;
    background: #fe718d;
    border-radius: 0 / 0;
    box-sizing: content-box;
    height: 1.625rem;
    left: 5.9375rem;
    position: absolute;
    top: 2.9375rem;
    transform-origin: 0.3125rem 3.3125rem;
    width: 0.625rem;
}

.spikes div:nth-child(1) {
    animation-delay: -0.9s;
    background: #fe718d;
    transform: rotate(0deg);
}

.spikes div:nth-child(2) {
    animation-delay: -0.8s;
    background: #f47e60;
    transform: rotate(36deg);
}

.spikes div:nth-child(3) {
    animation-delay: -0.7s;
    background: #f8b26a;
    transform: rotate(72deg);
}

.spikes div:nth-child(4) {
    animation-delay: -0.6s;
    background: #abbd81;
    transform: rotate(108deg);
}

.spikes div:nth-child(5) {
    animation-delay: -0.5s;
    background: #849b87;
    transform: rotate(144deg);
}

.spikes div:nth-child(6) {
    animation-delay: -0.4s;
    background: #6492ac;
    transform: rotate(180deg);
}

.spikes div:nth-child(7) {
    animation-delay: -0.3s;
    background: #637cb5;
    transform: rotate(216deg);
}

.spikes div:nth-child(8) {
    animation-delay: -0.2s;
    background: #6a63b6;
    transform: rotate(252deg);
}

.spikes div:nth-child(9) {
    animation-delay: -0.1s;
    background: #fe718d;
    transform: rotate(288deg);
}

.spikes div:nth-child(10) {
    animation-delay: 0s;
    background: #f47e60;
    transform: rotate(324deg);
}

@keyframes spikes {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}