<div id="form-wrapper">

    <div id="header">
        <home-button-and-title [feature]="feature" [header]="header" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
    </div>

    <div id="content">
        <form [formGroup]="form" autocomplete="off" data-cy="form">
            <mat-form-field>
                <input [inputTabStop]="input" [placeholder]="getLabel('userName')" data-cy="userName" data-tabindex="1" formControlName="userName" id="userName" matInput>
                <mat-error *ngIf="userName.hasError('required')">{{ getHint("required") }}</mat-error>
                <mat-error *ngIf="userName.hasError('maxlength')">{{ getHint("maxLength", userName.errors.maxlength.requiredLength) }}</mat-error>
                <mat-error *ngIf="!userName.hasError('required') && userName.hasError('containsIllegalCharacters')">{{ getHint("containsIllegalCharacters") }}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input [inputTabStop]="input" [placeholder]="getLabel('displayname')" data-cy="displayname" data-tabindex="2" formControlName="displayname" id="displayname" matInput>
                <mat-error *ngIf="displayname.hasError('required')">{{ getHint("required") }}</mat-error>
                <mat-error *ngIf="displayname.hasError('maxlength')">{{ getHint("maxLength", displayname.errors.maxlength.requiredLength) }}</mat-error>
                <mat-error *ngIf="!displayname.hasError('required') && displayname.hasError('beginsOrEndsWithSpace')">{{ getHint("beginsOrEndsWithSpace") }}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input (keydown)="enableOrDisableAutoComplete($event)" (keyup)="checkForEmptyAutoComplete($event)" [inputTabStop]="input" [matAutocompleteDisabled]="isAutoCompleteDisabled" [matAutocomplete]="customers" [placeholder]="getLabel('customer')" [readonly]=!isAdmin data-cy="customer-description" data-tabindex="3" formControlName="customer" matInput>
                <mat-error *ngIf="customer.hasError('required')">{{ getHint("required") }}</mat-error>
                <mat-error *ngIf="!customer.hasError('required') && customer.hasError('incorrect')">{{ getHint("invalid") }}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input [inputTabStop]="input" [placeholder]="getLabel('email')" data-cy="email" data-tabindex="4" formControlName="email" id="email" matInput type="email">
                <mat-error *ngIf="email.hasError('required')">{{ getHint("required") }}</mat-error>
                <mat-error *ngIf="email.hasError('email')">{{ getHint("invalid") }}</mat-error>
            </mat-form-field>
            <mat-slide-toggle [disableToogle]=!isAdmin data-cy="isAdmin" formControlName="isAdmin">{{ getLabel("isAdmin") }}</mat-slide-toggle>
            <mat-slide-toggle [disableToogle]=!isAdmin data-cy="isActive" formControlName="isActive">{{ getLabel("isActive") }}</mat-slide-toggle>
        </form>
        <p class="instructions" [class.hidden]=true>{{ form.value | json }} {{ form.valid }}</p>
    </div>

    <div id="footer">
        <div @slideFromRight class="button-group">
            <button (click)="changePassword()" class="transparent" data-cy="changePassword" id="changePassword" mat-flat-button>{{ getLabel("changePasswordButton") }}</button>
            <button (click)="onDelete()" *ngIf="form.value.id !== 0" class="delete" data-cy="delete" id="delete" mat-flat-button>{{ getLabel("deleteButton") }}</button>
            <button (click)="onSave(true)" [disabled]=!form.valid class="primary" data-cy="save" id="save" mat-flat-button>{{ getLabel("saveButton") }}</button>
        </div>
    </div>

    <div *ngIf="isLoading | async">
        <loading-spinner></loading-spinner>
    </div>

</div>

<mat-autocomplete #customers="matAutocomplete" [displayWith]="autocompleteFields" autoActiveFirstOption>
    <mat-option *ngFor="let option of filteredCustomers | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>