<div id="form-wrapper">

    <div id="content">

        <div id="header">
            <home-button-and-title [feature]="feature" [featureIcon]="featureIcon" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
            <div id="header-buttons">
                <button [matMenuTriggerFor]="menu" class="fab fab-with-no-background" mat-icon-button>
                    <mat-icon class="material-icons-outlined">more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" class="primary">
                    <ng-container *ngTemplateOutlet="contextMenu"></ng-container>
                </mat-menu>
            </div>
        </div>

        <form [formGroup]="form" id="form">
            <!-- Username -->
            <mat-form-field>
                <mat-label>{{ getLabel('username') }}</mat-label>
                <mat-icon class="material-icons-outlined small">lock</mat-icon>
                <input [inputTabStop]="input" dataTabIndex="1" formControlName="username" matInput readonly>
                <mat-error *ngIf="username.hasError('required')">{{ getHint("required") }}</mat-error>
                <mat-error *ngIf="username.hasError('maxlength')">{{ getHint("maxLength", username.errors.maxlength.requiredLength) }}</mat-error>
                <mat-error *ngIf="!username.hasError('required') && username.hasError('containsIllegalCharacters')">{{ getHint("containsIllegalCharacters") }}</mat-error>
            </mat-form-field>
            <!-- Displayed name -->
            <mat-form-field>
                <mat-label>{{ getLabel('displayname') }}</mat-label>
                <input [inputTabStop]="input" dataTabIndex="2" formControlName="displayname" matInput>
                <mat-error *ngIf="displayname.hasError('required')">{{ getHint("required") }}</mat-error>
                <mat-error *ngIf="displayname.hasError('maxlength')">{{ getHint("maxLength", displayname.errors.maxlength.requiredLength) }}</mat-error>
                <mat-error *ngIf="!displayname.hasError('required') && displayname.hasError('beginsOrEndsWithSpace')">{{ getHint("beginsOrEndsWithSpace") }}</mat-error>
            </mat-form-field>
            <!-- Email -->
            <mat-form-field>
                <mat-label>{{ getLabel('email') }}</mat-label>
                <mat-icon *ngIf="!isAdmin()" class="material-icons-outlined small">lock</mat-icon>
                <input [inputTabStop]="input" [readonly]="!isAdmin()" dataTabIndex="4" formControlName="email" matInput type="email">
                <mat-error *ngIf="email.hasError('required')">{{ getHint("required") }}</mat-error>
                <mat-error *ngIf="email.hasError('email')">{{ getHint("invalid") }}</mat-error>
            </mat-form-field>
            <div class="stacked-checkboxes">
                <!-- Focus on first field -->
                <mat-checkbox formControlName="isFirstFieldFocused">
                    <mat-icon *ngIf="!isAdmin()" class="material-icons-outlined small">lock_open</mat-icon>
                    <span>{{ getLabel("isFirstFieldFocused") }}</span>
                </mat-checkbox>
                <!-- Admin -->
                <mat-checkbox [class]="!isAdmin() ? 'disabled': null" formControlName="isAdmin">
                    <mat-icon *ngIf="!isAdmin()" class="material-icons-outlined small">lock</mat-icon>
                    <span>{{ getLabel("isAdmin") }}</span>
                </mat-checkbox>
                <!-- Active -->
                <mat-checkbox [class]="!isAdmin() ? 'disabled': null" formControlName="isActive">
                    <mat-icon *ngIf="!isAdmin()" class="material-icons-outlined small">lock</mat-icon>
                    <span>{{ getLabel("isActive") }}</span>
                </mat-checkbox>
            </div>
            <div class="align-bottom">
                <!-- Metadata -->
                <metadata-panel [feature]="feature" [postAt]="form.value.postAt" [postUser]="form.value.postUser" [putAt]="form.value.putAt" [putUser]="form.value.putUser"></metadata-panel>
            </div>
        </form>

    </div>

    <div id="footer">
        <div id="align-right">
            <button (click)="onChangePassword()" class="secondary" mat-flat-button>
                <span>{{ getLabel("changePasswordButton") | uppercase }}</span>
            </button>
            <button (click)="onSave()" [disabled]="!form.valid" class="primary" mat-flat-button>
                <mat-icon *ngIf="!form.valid" class="material-icons-outlined">lock</mat-icon>
                <span>{{ getLabel("saveButton") | uppercase }}</span>
            </button>
        </div>
    </div>

</div>

<ng-template #contextMenu xPosition="before">
    <button (click)="onEmailUserDetais()" mat-menu-item>
        <span>{{ getLabel('emailUserDetails') }}</span>
    </button>
</ng-template>
