#wrapper {
    background-color: var(--color-common-background);
    display: flex;
    height: 100%;
    transition: background-color var(--change-theme-delay) ease;
    width: 100vw;
}

#main {
    background-color: var(--color-common-background);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    transition: background-color var(--change-theme-delay) ease;
}

#content {
    flex: 1;
    justify-content: center;
    overflow-y: hidden;
    transition: background-color var(--change-theme-delay) ease;
}

#spinner {
    border: 0.1875rem solid var(--color-spinner-outer);
    border-top: 0.1875rem solid var(--color-spinner-inner);
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    position: absolute;
    animation: spin 1700ms linear infinite;
    z-index: 2;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}