<div id="language-menu">
    <ul>
        <li>
            <button>
                <img src="/assets/images/languages/{{ getStoredLanguage() }}.svg" height="25px">
                <span class="material-icons-outlined">expand_more</span>
            </button>
            <ul class="sub-menu" (click)="hideMenu()">
                <button class="hoverable" (click)="doLanguageTasks('el-GR')"><img src="/assets/images/languages/el-GR.svg"><span>Ελληνικά</span></button>
                <button class="hoverable" (click)="doLanguageTasks('en-GB')"><img src="/assets/images/languages/en-GB.svg"><span>English</span></button>
            </ul>
        </li>
    </ul>
</div>