<div id="dialog">

    <div id="dialog-content">
        <div id="dialog-image">
            <img [src]="getShieldIcon()" style="height: 6rem; width: 4.68rem" (load)="loadImage()" [ngClass]="imageIsLoading()" id="feature-icon">
        </div>
        <div id="dialog-text">
            <div *ngIf="isObject()" id="dialog-json-content" [innerHTML]="content | prettyprint"></div>
            <div *ngIf="!isObject()" id="dialog-textcontent">{{ content }}</div>
        </div>
    </div>

    <div *ngIf="!isObject()" id="dialog-footer">
        <mat-dialog-actions *ngIf="data.actions.length == 1">
            <button mat-flat-button class="primary" id="ok" tabindex="-1" mat-dialog-close="true">{{ getLabel('okButton') | uppercase }}</button>
        </mat-dialog-actions>
        <mat-dialog-actions *ngIf="data.actions.length == 2">
            <button mat-flat-button class="transparent" id="abort" tabindex="-1" (click)="onClose()">{{ getLabel('cancelButton') | uppercase }}</button>
            <button mat-flat-button class="primary" id="ok" tabindex="-1" mat-dialog-close="true">{{ getLabel('okButton') | uppercase }}</button>
        </mat-dialog-actions>
    </div>

</div>
