<div id="list">

    <div id="header">
        <home-button-and-title [feature]="feature" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
    </div>

    <div id="table-wrapper">
        <p-table #table [autoLayout]="false" [scrollable]="true" [value]="records" [virtualRowHeight]="33" [virtualScroll]="false" dataKey="id" selectionMode="single" scrollHeight="flex" sortMode="multiple">
            <ng-template pTemplate="header">
                <tr>
                    <th style="min-width: 12%; max-width: 12%;" pSortableColumn="isActive">{{ getLabel("headerIsActive") }}<p-sortIcon field="isActive"></p-sortIcon></th>
                    <th style="min-width: 12%; max-width: 12%;" pSortableColumn="isAdmin">{{ getLabel("headerIsAdmin") }}<p-sortIcon field="isAdmin"></p-sortIcon></th>
                    <th style="min-width: 30%; max-width: 30%;" pSortableColumn="userName">{{ getLabel("headerUsername") }}<p-sortIcon field="userName"></p-sortIcon></th>
                    <th style="min-width: 20%; max-width: 20%;" pSortableColumn="displayname">{{ getLabel("headerDisplayname") }}<p-sortIcon field="displayname"></p-sortIcon></th>
                    <th style="min-width: 26%; max-width: 26%;" pSortableColumn="email">{{ getLabel("headerEmail") }}<p-sortIcon field="email"></p-sortIcon></th>
                </tr>
                <tr>
                    <th style="min-width: 12%; max-width: 12%;"><p-columnFilter type="boolean" field="isActive"></p-columnFilter></th>
                    <th style="min-width: 12%; max-width: 12%;"><p-columnFilter type="boolean" field="isAdmin"></p-columnFilter></th>
                    <th style="min-width: 30%; max-width: 30%;"><input type="text" class="p-inputtext" (input)="table.filter($event.target.value, 'userName', 'contains')" [value]="$any(table).filters['userName']?.value"></th>
                    <th style="min-width: 20%; max-width: 20%;"><input type="text" class="p-inputtext" (input)="table.filter($event.target.value, 'displayname', 'contains')" [value]="$any(table).filters['displayname']?.value"></th>
                    <th style="min-width: 26%; max-width: 26%;"><input type="text" class="p-inputtext" (input)="table.filter($event.target.value, 'email', 'contains')" [value]="$any(table).filters['email']?.value"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr [pSelectableRow]="rowData" (dblclick)="editRecord(rowData.id)">
                    <td [ngClass]="rowData.isActive ? 'is-active': 'is-not-active'" style="min-width: 12%; max-width: 12%; justify-content: center;">
                        <span *ngIf="rowData.isActive" class="is-active material-icons-outlined">check_circle</span>
                        <span *ngIf="!rowData.isActive" class="is-not-active material-icons-outlined">highlight_off</span>
                    </td>
                    <td [ngClass]="rowData.isAdmin ? 'is-active': 'is-not-active'" style="min-width: 12%; max-width: 12%; justify-content: center;">
                        <span *ngIf="rowData.isAdmin" class="is-active material-icons-outlined">check_circle</span>
                        <span *ngIf="!rowData.isAdmin" class="is-not-active material-icons-outlined">highlight_off</span>
                    </td>
                    <td style="min-width: 30%; max-width: 30%; padding: 5px !important;">{{ rowData.userName }}</td>
                    <td style="min-width: 20%; max-width: 20%; padding: 5px !important;">{{ rowData.displayname }}</td>
                    <td style="min-width: 26%; max-width: 26%; padding: 5px !important;">{{ rowData.email }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div id="footer">
        <div class="button-group">
            <button data-cy="new" mat-flat-button class="primary" id="new" (click)="newRecord()">{{ getLabel("newButton") }}</button>
        </div>
    </div>

</div>