<div id="list">

    <div id="header">
        <div @slideFromLeft id="title">
            <h1>Προσφορά Δήμου Κερκυραίων</h1>
        </div>
    </div>

    <div id="table-wrapper">
        <p-table #table [(selection)]="selectedRecords" [scrollable]="true" [value]="records" dataKey="id" scrollHeight="flex" selectionMode="multiple">
            <ng-template pTemplate="header">
                <tr>
                    <th style="min-width: 5%; max-width: 5%; border-top-left-radius: 10px;"></th>
                    <th rowspan="2" style="min-width: 5%; max-width: 5%;">ID</th>
                    <th rowspan="2" style="min-width: 60%; max-width: 60%;">ΠΕΡΙΓΡΑΦΗ</th>
                    <th colspan="2" style="min-width: 20%; max-width: 20%;">ΤΙΜΗ</th>
                    <th style="min-width: 10%; max-width: 10%; border-top-right-radius: 10px;">ΠΟΣ</th>
                </tr>
                <tr>
                    <th rowspan="2" colspan="3" style="min-width: 70%; max-width: 70%;"></th>
                    <th style="min-width: 10%; max-width: 10%;">ΠΡΟ ΦΠΑ</th>
                    <th style="min-width: 10%; max-width: 10%;">ΜΕ ΦΠΑ</th>
                    <th style="min-width: 10%; max-width: 10%;"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr [class.ui-state-highlight]="rowData == highlighted" (click)="highlighted = rowData">
                    <td style="width: 5%; max-width: 5%; justify-content: center;"><p-tableCheckbox [value]="rowData"></p-tableCheckbox></td>
                    <td style="min-width: 5%; max-width: 5%;">{{ rowData.id }}</td>
                    <td style="min-width: 70%; max-width: 70%;">{{ rowData.description }}</td>
                    <td style="min-width: 10%; max-width: 10%; justify-content: center;">{{ rowData.grossPrice.toFixed(2) }}</td>
                    <td style="min-width: 10%; max-width: 10%; justify-content: center;" pEditableColumn>
                        <p-cellEditor style="min-width: 10%; max-width: 10%;">
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="rowData.qty">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ rowData.qty }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div id="footer">
        <div @slideFromRight id="buttons">
            <button mat-flat-button class="primary" (click)="onPrint()">ΕΚΤΥΠΩΣΗ</button>
        </div>
    </div>

</div>