* {
    --color-background: #595959;
    --color-quote-with-value: #d6ff00;
    --color-dialog-areas-seperator: #858585;
    --color-dialog-background: #6b6b6b;
    --color-input-background: #636161;
    --color-input-error: #ff7878;
    --color-secondary: #7BB7DD;
    --color-text: #ffffff;
    --color-transparent-button: #ffffff;
}
