* {
    --color-background: #fefefe;
    --color-quote-with-value: #af1c7a;
    --color-dialog-areas-seperator: #ebebeb;
    --color-dialog-background: #fefefe;
    --color-input-background: #F9F9F9;
    --color-input-error: #ff8a82;
    --color-secondary: #7BB7DD;
    --color-text: #000000;
    --color-transparent-button: #000000;
}
