#login-form {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: auto;
}

#top {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: var(--gap) 2rem;
}

#header {
    justify-content: center;
    padding-top: 2rem;
}

#content {
    justify-content: start;
}

#footer {
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

#footer button {
    width: 20rem;
}
