<div id="login-form">

    <div id="top">
        <language-menu></language-menu>
        <theme-menu></theme-menu>
    </div>

    <login-logo></login-logo>

    <div id="header">
        <home-button-and-title [feature]="feature" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
    </div>

    <div id="content">
        <form [formGroup]="form" autocomplete="off" data-cy="form">
            <mat-form-field>
                <input [inputTabStop]="input" [placeholder]="getLabel('username')" data-cy="username" data-tabindex="1" formControlName="username" id="username" matInput>
                <mat-error *ngIf="username.hasError('required')">{{ getHint("required") }}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input [inputTabStop]="input" [placeholder]="getLabel('password')" [type]="hidePassword ? 'password' : 'text'" data-cy="password" data-tabindex="2" formControlName="password" id="password" matInput>
                <button (click)="hidePassword = !hidePassword" mat-icon-button matSuffix type="button">
                    <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                <mat-error *ngIf="password.hasError('required')">{{ getHint("required") }}</mat-error>
            </mat-form-field>
            <mat-slide-toggle data-cy="isHuman" formControlName="isHuman">{{ getLabel("noRobotCheckbox") }}</mat-slide-toggle>
        </form>
        <p class="instructions" [class.hidden]=true>{{ form.value | json }} {{ form.valid }}</p>
    </div>

    <div id="footer">
        <button (click)="onForgotPassword()" class="transparent" data-cy="forgotPassword" id="forgotPassword" mat-flat-button>{{ getLabel("forgotPasswordButton") }}</button>
        <button (click)="onLogin()" [disabled]="!form.valid" class="primary" data-cy="login" id="login" mat-flat-button>{{ getLabel("loginButton") }}</button>
    </div>

    <div *ngIf="isLoading | async">
        <loading-spinner></loading-spinner>
    </div>

</div>