.mat-form-field-invalid .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix .mat-form-field-label-wrapper .mat-form-field-label {
    color: var(--color-button-delete);
}

.mat-form-field-invalid .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix input {
    color: var(--color-button-delete);
}

.mat-form-field-invalid .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix .mat-form-field-label-wrapper .mat-form-field-label span {
    color: var(--color-button-delete);
}

.mat-form-field-invalid .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix {
    color: var(--color-button-delete);
}

.mat-form-field-invalid .mat-form-field-ripple {
    background-color: var(--color-button-delete);
}

.mat-form-field-invalid .mat-form-field-wrapper .mat-form-field-subscript-wrapper div .mat-error {
    color: var(--color-button-delete);
}

.mat-form-field-invalid .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-suffix button .mat-button-wrapper {
    color: var(--color-button-delete);
}

.mat-form-field-invalid .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-suffix button .mat-button-wrapper .mat-icon {
    color: var(--color-button-delete);
}