* {
    /* Font names */
    --font-family-logo: "Roboto";
    --font-family-master: "PF Handbook Pro";
    --font-family-menu: "Noto Sans";
    --font-family-table: "Roboto";
    /* Font weights */
    --font-weight-calendar-day: 300;
    --font-weight-dialog-content: 300 !important;
    --font-weight-header: 300 !important;
    --font-weight-input-label: 300 !important;
    --font-weight-logo: 400;
    --font-weight-mat-hint: 300;
    --font-weight-snackbar: 300;
    --font-weight-sum-persons: 300;
    --font-weight-summary-header: 300;
    --font-weight-table-header: 300 !important;
    --font-weight-tooltip: 700;
    /* Delays */
    --change-theme-delay: 0.3s;
    --change-component-theme-on-hover: 0.2s;
    /* Common sizes in all screen resolutions */
    --font-size-autocomplete: 90%;
    --font-size-calendar-date: 100%;
    --font-size-calendar-legend-items: 100%;
    --font-size-datepicker-days: 0.9vw;
    --font-size-datepicker-header-month: 2.2vw;
    --font-size-dialog: 110%;
    --font-size-input-height: 100%;
    --font-size-loading-message: 1rem;
    --font-size-logo-loader-first-child: 4rem;
    --font-size-logo-loader-second-child: 2.5rem;
    --font-size-map-tooltip: 1.1rem;
    --font-size-paragraph: 0.7rem;
    --font-size-snackbar: 120%;
    --font-size-sum-persons: 150%;
    --font-size-tab-label: 130%;
    --form-field-margin: 10px;
}