<div *ngIf=isAdmin() id="button-wrapper">
    <button [matMenuTriggerFor]="parameters" class="fab fab-with-no-background" mat-icon-button matTooltip="{{ getLabel('parameters') }}" matTooltipPosition="before">
        <mat-icon class="material-symbols-outlined">display_settings</mat-icon>
    </button>
</div>

<mat-menu #parameters="matMenu" class="primary">
    <ng-container *ngTemplateOutlet="parametersMenu"></ng-container>
</mat-menu>

<ng-template #parametersMenu>
    <button *ngFor="let item of menuItems" (click)="doNavigationTasks(item.id)" mat-menu-item>
        <span>{{ item.description }}</span>
    </button>
</ng-template>
