<div id="form-wrapper">

    <div id="content">

        <div id="header">
            <home-button-and-title [feature]="feature" [featureIcon]="featureIcon" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
        </div>

        <form [formGroup]="form" id="form">
            <!-- Description -->
            <mat-form-field>
                <mat-label>{{ getLabel('description') }}</mat-label>
                <input [inputTabStop]="input" dataTabIndex="1" formControlName="description" matInput>
                <mat-error *ngIf="description.hasError('required')">{{ getHint("required") }}</mat-error>
                <mat-error *ngIf="description.hasError('maxlength')">{{ getHint("maxLength", description.errors.maxlength.requiredLength) }}</mat-error>
            </mat-form-field>
            <div class="stacked-checkboxes">
                <!-- Active -->
                <mat-checkbox formControlName="isActive">
                    <span>{{ getLabel("isActive") }}</span>
                </mat-checkbox>
            </div>
            <div class="align-bottom">
                <!-- Metadata -->
                <metadata-panel [feature]="feature" [postAt]="form.value.postAt" [postUser]="form.value.postUser" [putAt]="form.value.putAt" [putUser]="form.value.putUser"></metadata-panel>
            </div>
        </form>

    </div>

    <div id="footer">
        <div id="align-right">
            <button (click)="onDelete()" *ngIf="form.value.id !== 0" class="delete" mat-flat-button>{{ getLabel("deleteButton") | uppercase }}</button>
            <button (click)="onSave()" [disabled]="!form.valid" class="primary" mat-flat-button>
                <mat-icon *ngIf="!form.valid" class="material-icons-outlined">lock</mat-icon>
                <span>{{ getLabel("saveButton") | uppercase }}</span>
            </button>
        </div>
    </div>

</div>
