<div id="form-wrapper">

    <div id="content">

        <div id="header">
            <home-button-and-title [feature]="feature" [featureIcon]="featureIcon" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
        </div>

        <form [formGroup]="form" id="form">
            <!-- Username -->
            <mat-form-field>
                <mat-label>{{ getLabel('username') }}</mat-label>
                <input [inputTabStop]="input" class="invisible" dataTabIndex="1" formControlName="username" matInput>
                <mat-error *ngIf="username.hasError('required')">{{ getHint("required") }}</mat-error>
                <mat-error *ngIf="username.hasError('containsSpace')">{{ getHint("spacesNotAllowed") }}</mat-error>
            </mat-form-field>
            <!-- Display name -->
            <mat-form-field>
                <mat-label>{{ getLabel('displayname') }}</mat-label>
                <input [inputTabStop]="input" dataTabIndex="2" formControlName="displayname" matInput>
                <mat-error *ngIf="displayname.hasError('required')">{{ getHint("required") }}</mat-error>
                <mat-error *ngIf="displayname.hasError('maxlength')">{{ getHint("maxLength", displayname.errors.maxlength.requiredLength) }}</mat-error>
            </mat-form-field>
            <!-- Email -->
            <mat-form-field>
                <mat-label>{{ getLabel('email') }}</mat-label>
                <input [inputTabStop]="input" class="invisible" dataTabIndex="4" formControlName="email" matInput>
                <mat-error *ngIf="email.hasError('required')">{{ getHint("required") }}</mat-error>
                <mat-error *ngIf="email.hasError('maxlength')">{{ getHint("maxLength", email.errors.maxlength.requiredLength) }}</mat-error>
                <mat-error *ngIf="!email.hasError('required') && !email.hasError('maxlength') && email.hasError('email')">{{ getHint("invalid") }}</mat-error>
            </mat-form-field>
            <!-- Focus on first field -->
            <div class="checkboxes">
                <mat-checkbox formControlName="isFirstFieldFocused">
                    <span>{{ getLabel("isFirstFieldFocused") }}</span>
                </mat-checkbox>
            </div>
            <div class="align-bottom checkboxes">
                <!-- Admin -->
                <mat-checkbox formControlName="isAdmin">
                    <span>{{ getLabel("isAdmin") }}</span>
                </mat-checkbox>
                <!-- Active -->
                <mat-checkbox formControlName="isActive">
                    <span>{{ getLabel("isActive") }}</span>
                </mat-checkbox>
            </div>
        </form>

    </div>

    <div id="footer">
        <div id="align-right">
            <button (click)="onSave()" [disabled]="!form.valid" class="primary" mat-flat-button>
                <mat-icon *ngIf="!form.valid" class="material-icons-outlined">lock</mat-icon>
                <span>{{ getLabel("saveButton") | uppercase }}</span>
            </button>
        </div>
    </div>

</div>
