@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp");

@import "buttons.css";
@import "card.css";
@import "common-colors.css";
@import "criteria.css";
@import "dialogs.css";
@import "headers.css";
@import "input-error.css";
@import "input-focused-not-error.css";
@import "input-not-focused-not-error.css";
@import "input.css";
@import "loader.css";
@import "prime-checkbox.css";
@import "prime-input.css";
@import "prime-table.css";
@import "scrollable.css";
@import "slider.css";
@import "table-wrapper.css";
@import "variables-narrow.css";
@import "variables-wide.css";
@import "variables.css";

@font-face {
    font-family: Bowlby-One;
    src: url("/assets/fonts/BowlbyOne.otf");
}

@font-face {
    font-family: Pf-Handbook-Pro;
    src: url("/assets/fonts/PFHandbookProThin.ttf");
}

* {
    box-sizing: border-box !important;
}

html, body {
    margin: 0;
    padding: 0;
    user-select: none;
}

html {
    height: -webkit-fill-available;
}

body {
    height: 100%;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none !important;
}

p.instructions {
    color: var(--color-c);
    font-family: var(--font-family-handbook);
    font-size: var(--font-size-paragraph);
    overflow: hidden;
}

.clickable:hover {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 0.8rem;
}

::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: var(--color-scrollbar-thumb);
    border-radius: 9999px;
    border: 0.25rem solid rgba(0, 0, 0, 0);
}