button {
    align-items: center;
    border: none;
    cursor: default !important;
    font-family: var(--font-family-handbook) !important;
    font-size: var(--font-size-button) !important;
    justify-content: center;
    min-width: 0 !important;
    outline: 0 !important;
    padding-top: 0.0625rem !important;
}

button.primary {
    background-color: var(--color-button-background-primary) !important;
    color: var(--color-button-text) !important;
}

button.secondary {
    background-color: var(--color-b) !important;
    color: var(--color-c) !important;
}

button.primary:hover, button.secondary:hover {
    background-color: var(--color-button-background-primary-hover) !important;
}

button.delete {
    background-color: var(--color-button-background-delete) !important;
    color: var(--color-button-text) !important;
}

button.delete:hover {
    background-color: var(--color-button-background-delete-hover) !important;
}

button.reverse {
    color: var(--color-c) !important;
}

button.bold {
    font-weight: 700 !important;
}

button.transparent {
    background-color: transparent !important;
    color: var(--color-c) !important;
}

button.transparent:hover {
    background-color: var(--color-button-background-primary) !important;
    color: var(--color-button-text) !important;
}

.mat-menu-item:hover:not([disabled]), .mat-menu-item.cdk-program-focused:not([disabled]), .mat-menu-item-highlighted:not([disabled]):hover {
    background-color: var(--color-a) !important;
}

button.tab {
    padding-bottom: 5px;
}

button.tab:first-child {
    margin-right: 1rem;
}

button.mat-mini-fab {
    background-color: transparent !important;
    color: var(--color-a) !important;
    margin: 0 !important;
    outline: 0 !important;
}

button.mat-mini-fab:hover {
    background-color: var(--color-a) !important;
    color: var(--color-background) !important;
}

button:disabled {
    cursor: not-allowed !important;
    pointer-events: all !important;
}

button:not(:disabled) {
    cursor: pointer !important;
}

.mat-mini-fab .mat-button-wrapper {
    color: var(--color-c);
    line-height: 23px !important;
    transition: color 0.2s ease-in;
}

.mat-button-toggle-label-content {
    line-height: 2.5rem !important;
}

.mat-icon {
    color: var(--color-c);
}
