#calendar-wrapper {
    height: 400px;
    max-height: 400px;
    max-width: 350px;
    min-height: 400px;
    min-width: 350px;
    width: 350px;
}

#calendar-card {
    align-items: center;
    background-color: var(--color-b);
    box-shadow: none;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.mat-calendar-controls {
    color: var(--color-text);
    margin-top: 0 !important;
    margin-left: 10% calc(33% / 7 - 16px) !important;
}

.mat-calendar-body-label {
    opacity: 0;
    padding: 0 !important;
}

.mat-calendar-period-button {
    margin-left: 0 !important;
}

.mat-calendar-next-button {
    color: var(--color-c) !important;
    margin-right: 0.2rem !important;
}

.mat-calendar {
    height: max-content;
    width: 90%;
}

.mat-calendar-table-header {
    color: var(--color-c);
}

.mat-calendar-controls .mat-button .mat-button-wrapper {
    color: var(--color-c);
    font-family: var(--font-family-ubuntu);
    font-size: var(--font-size-datepicker-header-month);
}

.mat-calendar-body-cell {
    background-color: transparent !important;
    border-radius: 50%;
    transition: background-color 0.4s ease-out;
}

.mat-calendar-body-cell:hover {
    background-color: var(--color-b) !important;
}

.mat-calendar-body-cell-content:hover {
    color: var(--color-button-text) !important;
}

.mat-calendar-arrow {
    display: none !important;
}

.mat-calendar-table-header-divider::after {
    height: 0 !important;
}

.mat-datepicker-content .mat-calendar {
    margin: 2rem !important;
}

.mat-calendar-body-cell-content {
    color: var(--color-c);
    flex-direction: column;
    font-size: var(--font-size-calendar-day);
}

.mat-calendar-body-today {
    border: 1px solid var(--color-border) !important;
    font-weight: bold !important;
}

.mat-calendar-body-selected {
    background-color: var(--color-a) !important;
    font-weight: bold !important;
}

.mat-calendar-body-in-range {
    background-color: var(--color-range-between) !important;
    border-radius: 50% !important;
    border: 1px solid var(--color-border) !important;
}

.mat-calendar-body-in-range > div {
    color: var(--color-button-text);
}

.mat-calendar-body-cell::before, .mat-calendar-body-cell::after, .mat-calendar-body-cell-preview {
    height: 0 !important;
    width: 0 !important;
}

.mat-calendar-previous-button {
    color: var(--color-c) !important;
}

.mat-date-range-input-start-wrapper {
    margin-bottom: 8px !important;
    overflow: inherit !important;
    width: 100% !important;
}

.mat-datepicker-content {
    background-color: var(--color-b);
    border: 1px solid var(--color-text);
}
