h1 {
    color: var(--color-c) !important;
    font-family: var(--font-family-handbook) !important;
    font-size: var(--font-size-h1) !important;
    font-weight: var(--font-weight-header) !important;
    margin: 0 !important;
    padding: 0 !important;
}

h6 {
    color: var(--color-c) !important;
    font-family: var(--font-family-handbook) !important;
    font-weight: var(--font-weight-header) !important;
    margin: 0 !important;
    padding: 0 !important;
}