.mat-form-field-invalid .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix .mat-form-field-label-wrapper .mat-form-field-label {
    color: var(--color-input-error);
}

.mat-form-field-invalid .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix input {
    caret-color: var(--color-input-error);
    color: var(--color-input-error);
}

.mat-form-field-invalid .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix .mat-form-field-label-wrapper .mat-form-field-label span {
    color: var(--color-input-error);
}

.mat-form-field-invalid .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix {
    color: var(--color-input-error);
}

.mat-form-field-appearance-legacy.mat-form-field-invalid .mat-form-field-ripple {
    background-color: var(--color-input-error);
}

.mat-form-field-appearance-legacy.mat-form-field-invalid:not(.mat-focused) .mat-form-field-ripple {
    background-color: var(--color-input-error);
}

.mat-form-field-invalid .mat-form-field-wrapper .mat-form-field-subscript-wrapper div .mat-error {
    color: var(--color-input-error);
}

.mat-form-field-invalid .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-suffix button .mat-button-wrapper {
    color: var(--color-input-error) !important;
}

.mat-form-field-invalid .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-suffix button .mat-button-wrapper .mat-icon {
    color: var(--color-input-error) !important;
}
