input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    display: none;
}

input.center {
    text-align: center !important;
}

input.right {
    text-align: right !important;
}

input::selection {
    background-color: var(--color-input-selected-background);
}

input.mat-input-element {
    caret-color: var(--color-c) !important;
    margin-top: 5px !important;
}

input[type="text"], input[type="email"], input[type="number"], input[type="password"], input:-webkit-autofill, input:-webkit-autofill:active {
    background-clip: content-box;
    cursor: text !important;
    font-size: var(--font-size-input) !important;
    outline: none;
}

input:disabled {
    cursor: not-allowed !important;
    pointer-events: all !important;
}

input:-internal-autofill-previewed, input:-internal-autofill-selected {
    -webkit-text-fill-color: var(--color-c) !important;
    transition: background-color 5000s ease-in-out 0s !important;
}

.mat-form-field {
    line-height: 132%;
    width: 100% !important;
    margin-top: var(--form-field-margin) !important;
}

.mat-form-field-infix {
    border-top: 20px solid transparent;
    display: flex !important;
    padding: 0 !important;
    width: 100% !important;
}

.mat-form-field-subscript-wrapper {
    margin-top: 2px !important;
}

.mat-hint, .mat-error {
    font-size: var(--font-size-input-hint) !important;
}

.mat-form-field-label-wrapper {
    top: -20px !important;
}

.mat-date-range-input {
    margin-top: 0 !important;
}

.mat-form-field-type-mat-date-range-input .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix {
    font-size: unset !important;
}

.mat-datepicker-toggle, .mat-datepicker-content .mat-calendar-next-button, .mat-datepicker-content .mat-calendar-previous-button {
    color: var(--color-c);
}

.mat-form-field-flex {
    align-items: center !important;
    display: flex !important;
}

.mat-date-range-input-separator {
    color: transparent !important;
}