#loader {
    align-items: center;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    font-weight: 900;
    height: 100%;
    justify-content: center;
    width: 100vw;
}

#loader p:nth-child(1) {
    color: #1995ad !important;
    font-family: var(--font-family-logo);
    font-size: 4rem !important;
    margin: 0;
}

#loader p:nth-child(2) {
    color: #1995ad !important;
    font-family: var(--font-family-handbook);
    font-size: 0.7rem;
    margin-top: -1.1rem;
    transform: scale(1.5, 1);
}

#loading-message {
    color: #657171;
    font-family: var(--font-family-handbook);
    font-size: 1.2rem;
    margin-top: 0.5rem !important;
}

.progress-line, .progress-line::before {
    height: 0.1875rem;
    width: 40rem;
}

.progress-line {
    background-color: #657171;
    display: flex;
    margin: 2rem 0;
}

.progress-line::before {
    background-color: #fe9f36;
    content: "";
    animation: running-progress 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes running-progress {
    0% {
        margin-left: 0;
        margin-right: 100%;
    }

    50% {
        margin-left: 25%;
        margin-right: 0%;
    }

    100% {
        margin-left: 100%;
        margin-right: 0;
    }
}

@keyframes running-progress {
    0% {
        margin-left: 0;
        margin-right: 100%;
    }

    50% {
        margin-left: 25%;
        margin-right: 0%;
    }

    100% {
        margin-left: 100%;
        margin-right: 0;
    }
}
