.mat-menu-panel, .mat-menu-content {
    align-items: flex-start;
    background-color: var(--color-b) !important;
    border-radius: 0 !important;
    display: flex;
    flex-direction: column;
    min-height: auto !important;
    overflow: visible !important;
    padding: 0 !important;
    width: 100%;
}

.mat-menu-item {
    color: var(--color-button-text) !important;
    display: flex !important;
    font-family: var(--font-family-ubuntu) !important;
    justify-content: flex-start !important;
    line-height: 0 !important;
    margin-left: 0 !important;
    padding: 0 1rem !important;
}
