.p-dropdown .p-dropdown-clear-icon {
    font-size: 0.5625rem;
    margin-top: -0.25rem;
}

.p-dropdown .p-dropdown-trigger {
    border-radius: 0;
    color: var(--color-c);
}

.p-dropdown .p-dropdown-trigger:hover {
    border-radius: 0;
}

.p-dropdown {
    background-color: transparent;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    font-family: var(--font-family-handbook);
}

.p-dropdown-panel .p-dropdown-items {
    padding: 0;
    text-align: left;
}

.p-dropdown:not(.p-disabled).p-focus {
    border-color: transparent;
    box-shadow: none;
}

.p-fluid .p-dropdown .p-dropdown-label {
    font-family: var(--font-family-handbook);
    margin-bottom: 0;
    padding: 0.3125rem 0.375rem 0.1875rem 0.375rem !important;
    text-align: left;
}

.p-fluid .p-dropdown {
    border: none;
}
