.p-listbox {
    border: 0;
}

.p-listbox-list-wrapper {
    background-color: var(--color-a);
}

.p-listbox .p-listbox-list {
    padding: 0.5rem;
}

.p-listbox .p-listbox-list .p-listbox-item {
    border-left: 3px solid var(--color-a);
    color: var(--color-c) !important;
    padding: 10px 10px;
}

.p-listbox .p-listbox-list .p-listbox-item.p-highlight {
    background-color: var(--color-d) !important;
    border-left: 3px solid var(--color-c);
}

.p-listbox .p-listbox-list .p-listbox-item:focus {
    background-color: var(--color-d);
    border-left: 3px solid var(--color-c);
    box-shadow: none;
}

.p-listbox:not(.p-disabled) .p-listbox-item:not(.p-highlight):not(.p-disabled):hover {
    background-color: var(--color-d);
}