.mat-snack-bar-container {
    color: var(--color-snackbar-text);
    min-width: 35rem !important;
}

.info {
    background-color: var(--color-snackbar-background-success) !important;
}

.warning {
    background-color: var(--color-snackbar-background-warning) !important;
}

.error {
    background-color: var(--color-snackbar-background-error) !important;
}
