.mat-tab-body-content {
    display: flex !important;
    flex-direction: column;
    padding: 0;
    width: 100%;
}

.mat-tab-label {
    font-family: var(--font-family-handbook);
    font-weight: var(--font-weight-header);
    min-width: 3.125rem !important;
}

.mat-tab-label-container {
    padding: 2rem 1rem 0 0 !important;
}

.mat-ink-bar {
    height: 0.125rem !important;
}

.mat-tab-body-wrapper {
    flex: 1 !important;
    margin: var(--gap) 0 var(--gap) 0;
}

.mat-tab-nav-bar, .mat-tab-header {
    border-bottom: 0 !important;
}

.mat-tab-label-content {
    font-family: var(--font-family-handbook) !important;
    font-size: var(--font-size-tab-label) !important;
    font-weight: var(--font-weight-button) !important;
}

.mat-tab-group {
    height: 100% !important;
}

.mat-tab-body.mat-tab-body-active {
    height: 100% !important;
    position: absolute !important;
}
